# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Large datasets
Datasets/
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files and OS metadata
.vscode/
.idea/
.DS_Store
Thumbs.db
